services:
  ### MICROSERVICES
  bot_notifier:
    build: ./Microservices/bot_notifier
    container_name: bot_notifier
    depends_on:
      - telegram_bot
    volumes:
      - ./logs/bot_notifier:/app/logs
    environment:
      - LOG_DIR=/app/logs
    restart: on-failure

  chart_service:
    build: ./Microservices/chart_service
    container_name: chart_service
    ports:
      - "5300:5300"
    depends_on:
      - resource_catalog
    volumes:
      - ./logs/chart_service:/app/logs
    environment:
      - LOG_DIR=/app/logs
    restart: on-failure

  data_analysis:
    build: ./Microservices/data_analysis
    container_name: data_analysis
    ports:
      - "5082:5082"
    depends_on:
      - resource_catalog
    volumes:
      - ./logs/data_analysis:/app/logs
    environment:
      - LOG_DIR=/app/logs
    restart: on-failure

  gemini:
    build: ./Microservices/gemini
    container_name: gemini
    ports:
      - "5151:5151"
    volumes:
      - ./logs/gemini:/app/logs
    environment:
      - LOG_DIR=/app/logs
    restart: on-failure

  image_recognition:
    build: ./Microservices/image_recognition
    container_name: image_recognition
    ports:
      - "8085:8085"
    depends_on:
      - resource_catalog
    volumes:
      - ./logs/image_recognition:/app/logs
    environment:
      - LOG_DIR=/app/logs
    restart: on-failure

  recommendation_service:
    build: ./Microservices/recommendation_service
    container_name: recommendation_service
    ports:
      - "8081:8081"
    depends_on:
      - resource_catalog
    volumes:
      - ./logs/recommendation_service:/app/logs
    environment:
      - LOG_DIR=/app/logs
    restart: on-failure

  resource_catalog:
    build: ./Microservices/resource_catalog
    container_name: resource_catalog
    ports:
      - "5000:5000"
    depends_on:
      - service_catalog
    volumes:
      - ./logs/resource_catalog:/app/logs
    environment:
      - LOG_DIR=/app/logs
    restart: on-failure

  service_catalog:
    build: ./Microservices/service_catalog
    container_name: service_catalog
    ports:
      - "8082:8082"
    volumes:
      - ./logs/service_catalog:/app/logs
    environment:
      - LOG_DIR=/app/logs
    restart: on-failure

  telegram_bot:
    build: ./Microservices/telegram_bot
    container_name: telegram_bot
    depends_on:
      - resource_catalog
    volumes:
      - ./logs/telegram_bot:/app/logs
    environment:
      - LOG_DIR=/app/logs
    restart: on-failure

  thingspeak_adaptor:
    build: ./Microservices/thingspeak_adaptor
    container_name: thingspeak_adaptor
    depends_on:
      - resource_catalog
    volumes:
      - ./logs/thingspeak_adaptor:/app/logs
    environment:
      - LOG_DIR=/app/logs
    restart: on-failure

  vase_control:
    build: ./Microservices/vase_control
    container_name: vase_control
    depends_on:
      - resource_catalog
    volumes:
      - ./logs/vase_control:/app/logs
    environment:
      - LOG_DIR=/app/logs
    restart: on-failure
